.container {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  z-index: -999;
}

.containerGradient {
  background-image: linear-gradient(rgba(142, 252, 252, 0.17), rgb(0,0,0,0));
  height:50%;
  width:100%
}


.lrContainers {
  width: 200px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.topBanner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:93%;
  padding: 30px 50px;
}

.link {
  margin: 20px;
  color: rgb(228, 156, 2);
}

.logo{
  width:7vw;
  height:7vw
}

.tabContent {
  width:100%;
  display: flex;
  justify-content: center;
}

.searchFields {
  width:700px;
  background-color: white;
  height:65px;
  border-radius: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 30px;
}

.tabs{
  color:rgb(228, 156, 2);
  font-weight: 729;
  display: flex;
  justify-content: center;
  gap:45px;
  font-size: 20px;
}

.selected {
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(228, 156, 2);
}

.inputBody .inputs {
  font-size: 12px;
  font-weight:bold;
  margin-top: 10px;
  width:160px;
}


.vl {
  position: relative;
  top:15;
  height: 20%;
  background-color: rgb(228, 228, 228);
  width: 1.5px;
  margin-right: 20px;
  padding-bottom: 15px;
}

.searchButton {
  background-color: rgb(228, 156, 2);
  padding:10px;
  border-radius: 50%;
  transition: transform .4s;
}

.searchButton:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.electricityMarket {
  margin-top: 25vh;
  color: #F3D180;
  width: 400px;
  padding-left:120px;
}

.bottomRight {
  margin-top: 31vh;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  width: 400px;
  position: absolute;
  right: 170px;
  gap: 20px
}

.bottomRightText {
  margin-top: 28vh;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  width: 400px;
  position: absolute;
  right: 170px;
  gap: 20px
}

.title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 15px;
}

.text {
  font-weight: 600;
  margin-bottom: 25px;
}
